* {
  margin: 0;
  padding: 0;
}
.nav-bar {
  display: flex;
  margin-top: 2vh;
  padding-bottom: 2vh;
  justify-content: space-evenly;
  box-shadow: 0px 5px 7px 1px #e4e1e1;
  align-items: center;
}
.nav-bar .nav-left img {
  height: 6vh;
}
.nav-bar .icon {
  /* color: rgb(70, 67, 67); */
  color: rgb(73, 68, 68);
  font-size: 30px;
  cursor: pointer;
}
.nav-bar .nav-input {
  display: flex;
  background-color: rgb(245, 245, 246);
  border-radius: 10px;
  padding: 2px 10px;
}
.nav-bar .nav-input input {
  background-color: rgb(245, 245, 246);
  border-radius: 10px;
  border: none;
  font-size: 20px;

  width: 30rem;
}
.nav-bar .nav-right {
  display: flex;
}
.nav-bar .nav-right .icon {
  margin-left: 2vw;
}

/* =============== DashBoard Card =================== */

.dash-card {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 5vw;
  justify-content: space-evenly;
  margin-top: 10vh;
  margin-bottom: 10vh;
  text-align: center;
}
.dash-card .cardImg {
  height: 30vh;
  width: 10vw;
  padding-left: 7vw;
  padding-bottom: 2vh;
  padding-top: 2vh;
}

/* ================== Card Info ================ */
.cardinfo {
  margin-top: 7vh;
  display: flex;
  justify-content: space-evenly;
}
.cardinfo .cardinfo-img img {
  height: 75vh;
  width: 25vw;
}
.cardinfo .cardinfo-details {
  height: 80vh;
  width: 55vw;
}
.cardinfo .cardinfo-details .cardinfo-details-header h1 {
  font-size: 40px;
}
.cardinfo .cardinfo-details .cardinfo-details-body {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
}

.cardinfo .cardinfo-details .cardinfo-details-body p {
  font-size: 20px;
}
.cardinfo .cardinfo-details .cardinfo-details-body h2 {
  margin-top: 3vh;
}
.cardinfo .cardinfo-details .cardinfo-details-body .cardinfo-details-button {
  margin-top: 7vh;
  display: flex;
}
.cardinfo .cardinfo-details .cardinfo-details-body .cardinfo-addToCart button {
  font-family: arial;
  font-weight: bold;
  color: #ffffff !important;
  font-size: 18px;
  border: 1px solid #ffab24;
  padding: 15px 55px;
  border-radius: 10px;
  background: #ff9f00;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 2vw;
}
.cardinfo
  .cardinfo-details
  .cardinfo-details-body
  .cardinfo-addToCart
  button:hover {
  color: black !important;
  background: #ffab24;
}

.cardinfo .cardinfo-details .cardinfo-details-body .cardinfo-buyNow button {
  font-family: arial;
  font-weight: bold;
  color: #ffffff !important;
  font-size: 18px;
  border: 1px solid #f35202;
  padding: 15px 55px;
  border-radius: 10px;
  background: #fb641b;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cardinfo
  .cardinfo-details
  .cardinfo-details-body
  .cardinfo-buyNow
  button:hover {
  color: black !important;
  background: #f35202;
}
