* {
  margin: 0;
  padding: 0;
}
/* ============== Nav-Bar ============== */
.nav-bar {
  display: flex;
  margin-top: 2vh;
  padding-bottom: 2vh;
  justify-content: space-evenly;
  box-shadow: 0px 5px 7px 1px #e4e1e1;
  align-items: center;
}
.nav-bar .nav-left img {
  height: 6vh;
}
.nav-bar .icon {
  /* color: rgb(70, 67, 67); */
  color: rgb(73, 68, 68);
  font-size: 30px;
  cursor: pointer;
}
.nav-bar .nav-input {
  display: flex;
  background-color: rgb(245, 245, 246);
  border-radius: 10px;
  padding: 2px 10px;
}
.nav-bar .nav-input input {
  background-color: rgb(245, 245, 246);
  border-radius: 10px;
  border: none;
  font-size: 20px;
  width: 38vw;
}
.nav-bar .nav-right {
  display: flex;
}
.nav-bar .nav-right .icon {
  margin-left: 2vw;
}

.nav-right .nav-cart {
  display: flex;
  cursor: pointer;
}
.nav-right .nav-cart .nav-cart-length p {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
}
.nav-signOut button {
  font-family: arial;
  color: #000000 !important;
  font-size: 18px;
  border: 1px solid #ffab24;
  padding: 5px 10px;
  border-radius: 10px;
  background: #ff9f00;
  margin-left: 2vw;
  cursor: pointer;
}

/* =============== DashBoard Card =================== */

.dash-card {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 5vw;
  justify-content: space-evenly;
  margin-top: 10vh;
  margin-bottom: 10vh;
  text-align: center;
}
.dash-card .cardImg {
  height: 30vh;
  width: 10vw;
  padding-left: 7vw;
  padding-bottom: 2vh;
  padding-top: 2vh;
}
.loading img {
  margin-left: 25vw;
  height: 50vh;
  width: 20vw;
}

/* ================== Card Info ================ */
.cardinfo-parent .back-arrow {
  font-size: 40px;
  margin-left: 3vw;
  padding: 1vh;
  background-color: #d3d3d3;
  border-radius: 30px;
  margin-top: 2vh;
}
.cardinfo {
  /* margin-top: 1vh; */
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 3vh;
  margin-bottom: 5vh;
}

.cardinfo .cardinfo-img img {
  height: 75vh;
  width: 25vw;
  display: flex;
}
.cardinfo .cardinfo-details {
  height: 80vh;
  width: 55vw;
}
.cardinfo .cardinfo-details .cardinfo-details-header h1 {
  font-size: 40px;
}
.cardinfo .cardinfo-details .cardinfo-details-body {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
}

.cardinfo .cardinfo-details .cardinfo-details-body p {
  font-size: 20px;
}
.cardinfo .cardinfo-details .cardinfo-details-body h2 {
  margin-top: 3vh;
}
.cardinfo .cardinfo-details .cardinfo-details-body .cardinfo-details-button {
  margin-top: 7vh;
  display: flex;
}
.cardinfo .cardinfo-details .cardinfo-details-body .cardinfo-addToCart button {
  font-family: arial;
  font-weight: bold;
  color: #ffffff !important;
  font-size: 18px;
  border: 1px solid #ffab24;
  padding: 15px 55px;
  border-radius: 10px;
  background: #ff9f00;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 2vw;
}
.cardinfo
  .cardinfo-details
  .cardinfo-details-body
  .cardinfo-addToCart
  button:hover {
  color: black !important;
  background: #ffab24;
}

.cardinfo .cardinfo-details .cardinfo-details-body .cardinfo-buyNow button {
  font-family: arial;
  font-weight: bold;
  color: #ffffff !important;
  font-size: 18px;
  border: 1px solid #f35202;
  padding: 15px 55px;
  border-radius: 10px;
  background: #fb641b;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cardinfo
  .cardinfo-details
  .cardinfo-details-body
  .cardinfo-buyNow
  button:hover {
  color: black !important;
  background: #f35202;
}

/* ====================== Cart  ==================*/
.cart-parent {
  display: flex;
  justify-content: space-evenly;
}
.cart {
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.cart .cart-header {
  margin-bottom: 1vh;
}
.cart .cart-main {
  height: 40vh;
  width: 55vw;
  border: 1px solid rgb(196, 193, 193);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.cart .cart-img img {
  height: 30vh;
  width: 10vw;
}
.cart .cart-body {
  height: 30vh;
  width: 40vw;
}
.cart .cart-body .cart-body-header {
  cursor: pointer;
}
.cart .cart-body .cart-body-header:hover {
  color: rgb(173, 5, 173);
}

.cart-body .cart-body-category {
  margin-top: 3vh;
  display: flex;
  align-items: center;
}
.cart-body .cart-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1vh;
}
.cart-body .cart-quantity {
  display: flex;
  align-items: center;
}
.cart-body .cart-quantity .cart-quantity-value {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}
.cart-body .cart-quantity button {
  font-family: arial;
  font-weight: bold;
  color: #000000 !important;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 40px;
  border: none;
  background: #c7c7c7;
}
.cart-body .cart-quantity button:hover {
  color: #ffff !important;
  background: #808080;
}

.cart-body .cart-button .cart-remove {
  color: red;
  cursor: pointer;
}

.cart-body .cart-button .cart-remove:hover {
  color: rgb(214, 83, 83);
}

.cart-parent .cart-price {
  margin-top: 5vh;
  margin-bottom: 5vh;
  height: 30vh;
  width: 25vw;
  position: sticky;
}
.cart-price h2 {
  margin-bottom: 1vh;
}
.cart-price .cart-price-chart {
  border: 1px solid rgb(196, 193, 193);
}
.cart-price .cart-price-chart .cart-price-chart-child {
  display: flex;
  justify-content: space-between;
  padding: 2vh;
}
.cart-price-chart p {
  font-size: 19px;
}

.cart-price-chart .top-border {
  border-top: 1px solid rgb(196, 193, 193);
  padding: 1vh;
}
.cart-price-chart .green {
  color: green;
}

.cart-price .cart-price-button {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}
.cart-price button {
  font-family: arial;
  font-weight: bold;
  color: #ffffff !important;
  font-size: 18px;
  border: 1px solid #f35202;
  padding: 15px 55px;
  border-radius: 10px;
  background: #fb641b;
}
.cart-price button:hover {
  color: black !important;
  background: #f35202;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}
.empty-cart .sad-icon {
  color: #f35202;
  font-size: 45px;
  margin-left: 2vh;
}
.empty-cart h1 {
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
}
.empty-cart a {
  font-size: 18px;
}
.empty-cart img {
  height: 70vh;
  width: 50vw;
}

/* ===================== Footer ================= */
.footer {
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  background-color: #232f3e;
  padding: 5vh;
  cursor: pointer;
}
.footer p {
  padding-top: 2vh;
}
.footer p:hover {
  text-decoration: underline;
}

/* =================  Carousel =================*/
.carousel {
  margin-top: 5vh;
}
.carousel .carouselCard img {
  height: 85vh;
}

/* ================== Four0Four ============== */
.four {
  margin-top: 10vh;
  text-align: center;
}
.four h1 {
  margin-bottom: 5vh;
}
.four .sad-icon {
  margin-top: 10vh;
  color: #f35202;
  height: 40vh;
  width: 20vw;
}
